In [1]:
import pandas as pd
import numpy as np

# Get all tickers

In [2]:
members = pd.read_excel("../data/members.xlsx")
members

,1960-03-31,0111145D UN Equity,0118113D UN Equity,0203524D UN Equity,0226226D UN Equity,0544749D UN Equity,0574018D UN Equity,0616747D UN Equity,0872237D UN Equity,0882694D UN Equity,...,Unnamed: 698,Unnamed: 699,Unnamed: 700,Unnamed: 701,Unnamed: 702,Unnamed: 703,Unnamed: 704,Unnamed: 705,Unnamed: 706,Unnamed: 707
0,1960-06-30,0111145D UN Equity,0118113D UN Equity,0203524D UN Equity,0226226D UN Equity,0544749D UN Equity,0574018D UN Equity,0616747D UN Equity,0872237D UN Equity,0882694D UN Equity,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1960-09-30,0111145D UN Equity,0118113D UN Equity,0203524D UN Equity,0226226D UN Equity,0544749D UN Equity,0574018D UN Equity,0616747D UN Equity,0872237D UN Equity,0882694D UN Equity,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1960-12-31,0111145D UN Equity,0118113D UN Equity,0203524D UN Equity,0226226D UN Equity,0544749D UN Equity,0574018D UN Equity,0616747D UN Equity,0872237D UN Equity,0882694D UN Equity,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1961-03-31,0111145D UN Equity,0118113D UN Equity,0203524D UN Equity,0226226D UN Equity,0544749D UN Equity,0574018D UN Equity,0616747D UN Equity,0872237D UN Equity,0882694D UN Equity,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1961-06-30,0111145D UN Equity,0118113D UN Equity,0203524D UN Equity,0226226D UN Equity,0544749D UN Equity,0574018D UN Equity,0616747D UN Equity,0872237D UN Equity,0882694D UN Equity,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
246,2021-12-31,1950546D US Equity,2150994D UW Equity,9990213D UN Equity,9990253D UN Equity,9990527D UW Equity,A UN Equity,AA UN Equity,AAL UW Equity,AAP UN Equity,...,XYL UN Equity,Y UN Equity,YUM UN Equity,YUMC UN Equity,ZBH UN Equity,ZION UW Equity,ZNGA UW Equity,NaN,NaN,NaN
247,2022-03-31,2150994D UW Equity,9990213D UN Equity,9990253D UN Equity,9990527D UW Equity,A UN Equity,AA UN Equity,AAL UW Equity,AAP UN Equity,ABC UN Equity,...,ZNGA UW Equity,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
248,2022-06-30,2150994D UW Equity,9990213D UN Equity,A UN Equity,AA UN Equity,AAL UW Equity,AAP UN Equity,ACC UN Equity,ACGL UW Equity,ACHC UW Equity,...,XYL UN Equity,Y UN Equity,YUM UN Equity,Z UW Equity,ZBH UN Equity,ZBRA UW Equity,ZG UW Equity,ZION UW Equity,ZM UW Equity,NaN
249,2022-09-30,A UN Equity,AA UN Equity,AAL UW Equity,AAP UN Equity,ACGL UW Equity,ACHC UW Equity,ACI UN Equity,ACM UN Equity,ADT UN Equity,...,ZBH UN Equity,ZBRA UW Equity,ZG UW Equity,ZION UW Equity,ZM UW Equity,NaN,NaN,NaN,NaN,NaN
250,2022-10-20,A UN Equity,AA UN Equity,AAL UW Equity,AAP UN Equity,ACGL UW Equity,ACHC UW Equity,ACI UN Equity,ACM UN Equity,ADT UN Equity,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [7]:
members_arr = np.array(members)[:, 1:]
members_arr

array([['0111145D UN Equity', '0118113D UN Equity', '0203524D UN Equity',
        ..., nan, nan, nan],
       ['0111145D UN Equity', '0118113D UN Equity', '0203524D UN Equity',
        ..., nan, nan, nan],
       ['0111145D UN Equity', '0118113D UN Equity', '0203524D UN Equity',
        ..., nan, nan, nan],
       ...,
       ['2150994D UW Equity', '9990213D UN Equity', 'A UN Equity', ...,
        'ZION UW Equity', 'ZM UW Equity', nan],
       ['A UN Equity', 'AA UN Equity', 'AAL UW Equity', ..., nan, nan,
        nan],
       ['A UN Equity', 'AA UN Equity', 'AAL UW Equity', ..., nan, nan,
        nan]], dtype=object)

In [8]:
members_ls = members_arr.reshape((members_arr.shape[0]*members_arr.shape[1], ))

In [19]:
members_set = list(set(members_ls))
members_set = members_set[1:]
file_name = "../data/members.txt"
f = open(file_name, 'w') 
for name in members_set:
    f.write(name+"\n")
f.close()